<body>
    <header class="hero">
        <div class="message">
            <h1>Assapora le migliori ricette!</h1>
            <p>Ricette facili, divertenti e deliziose da persone come te. Cucina, condividi e goditi il momento!</p>
        </div>
    </header>
    
    <section class="featured">
        <h2>Ricette Popolari</h2>
        <div class="recipes-container">
            <div class="recipe">
                <img src="assets/img/carneconpapas.jpg" alt="Ricetta 1">
                <p>Prova questo piatto straordinario!</p>
            </div>
            <div class="recipe">
                <img src="assets/img/pizzabrocoli.jpg" alt="Ricetta 2">
                <p>Pizza sana e gustosa!</p>
            </div>
            <div class="recipe">
                <img src="assets/img/pasta.jpg" alt="Ricetta 3">
                <p>Una pasta che amerai!</p>
            </div>
        </div>
    </section>
    
    <section class="join">
        <div class="overlay">
            <h2>Unisciti alla nostra famiglia di buongustai!</h2>
            <button (click)="navigateToRegister()" class="btn btn-outline-light me-2">Iscriviti</button>
        </div>
    </section>
</body>
