body {
    background-color: #083d74;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Permite que la página crezca */
    margin: 0;
    overflow-y: auto; /* Activa scroll solo cuando sea necesario */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Espaciado superior e inferior para evitar cortes */
}

.contact-form {
    background: #2c3147;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
    color: white;
    width: 320px;
}

/* Scroll en la vista, no en el formulario */
html {
    overflow-y: auto;
}

.contact-form h2 {
    margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
}

.contact-form p {
    margin-bottom: 20px;
    text-align: center;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: white;
    font-size: 14px;
}

.contact-form button {
    width: 100%;
    background: #1488a7;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0c6c86;
}

/* Ajuste para campos de contraseña */
.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding: 0.75rem;
    padding-right: 2.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background: white;
    font-size: 0.875rem;
}

/* Ícono de ojo para mostrar/ocultar */
.toggle-password {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem;
    color: #555;
    transition: color 0.3s ease-in-out;
}

.toggle-password:hover {
    color: #000; 
}
.mensaje {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color:red;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .mensaje.error {
    background-color: #000; 
  }
  